/* ECRIRE 
---------------------------------------------------------------------------------- */

/* apercu */
#apercu {
	padding: 15px;
	margin: 0 0 20px 0;
	border: 1px dashed #ccc;
}

#apercu pre, #apercu code {
	white-space: pre-wrap;
}

#apercu p {
	margin-top: 5px;
	margin-bottom: 5px;
}

#apercu img {
	padding: 2px;
	border: 1px solid #ddd;
}

/* formulaire à remplir */
#form-ecrire {
	margin-right: 10px;
}

#form-ecrire textarea {
	resize: vertical;
}

#titre, #form-ecrire #categories, #contenu, #mots_cles {
	width: 98%;
	clear: both;
	padding: 5px 1%;
	margin: 0 0 15px;
	border-radius: 5px;
}

#form-ecrire #titre {
	font-weight: bold;
	font-size: 16px;
}

#form-ecrire #categories, #contenu {
	border-radius: 0 0 5px 5px;
}

#chapo_note {
	display: table;
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
}

/* browsers scale the width of these box with the ratio of the value of html "cols" attribut they have (since they are table-cells). Damn, good to know that ! */
#blocchapo, #blocnotes {
	display: table-cell;
}

#chapo, #notes {
	width: 98%;
	padding: 5px 1%;
	height: 100px;
	background: #f1f1f5;
	border-radius: 5px;
}

#notes {
	width: 96%;
	margin-left: 2%;
}

/* tags */
#form-ecrire #liste-tags { 
	width: 99%;
	margin: 0 0 2px;
	line-height: 22px;
}

#form-ecrire .tag {
	margin-bottom: 2px;
	padding: 0 5px 0 21px;
	background: url("toggle-expand.png") no-repeat 4px center #ddd;
	border: 1px solid #999;
	border-radius: 0 5px 5px 7px;
}

#form-ecrire .tag:hover {
	cursor: pointer;
}

/* Boutons de formatage  */
p.formatbut {
	border: 1px solid #9999a3;
	border-bottom: 0;
	border-radius: 5px 5px 0 0;
	width: 98%;
	height: 30px;
	line-height: 28px;
	margin: 0; padding: 0 1%;
	background: #cde6ff;
	background: -webkit-linear-gradient(top, white, #e6e6e6);
	background:    -moz-linear-gradient(top, white, #e6e6e6);
	background:     -ms-linear-gradient(top, white, #e6e6e6);
	background:      -o-linear-gradient(top, white, #e6e6e6);
	background:         linear-gradient(top, white, #e6e6e6);
}

.formatbut .pm {
	margin-top: 3px;
	float: right;
}

.formatbut .but {
	padding: 0;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	background: rgba(0, 0, 0, 0);
	height: 24px; width: 24px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.formatbut .but:hover {
	-webkit-transition: border-color .3s;
	   -moz-transition: border-color .3s;
	    -ms-transition: border-color .3s;
	     -o-transition: border-color .3s;
	        transition: border-color .3s;
	border-color: silver;
	
}

.formatbut .but:active {
	border-color: gray;
	background: #cde6ff;
	background: -webkit-linear-gradient(bottom, white, #d6d6d6);
	background:    -moz-linear-gradient(bottom, white, #d6d6d6);
	background:     -ms-linear-gradient(bottom, white, #d6d6d6);
	background:      -o-linear-gradient(bottom, white, #d6d6d6);
	background:         linear-gradient(bottom, white, #d6d6d6);
}

.formatbut .but span.c {
	display: inline-block;
	width: 16px;
	height: 24px;
	background: no-repeat 0 3px;
}

.formatbut span.spacer {
	width: 2px;
	margin: 0 4px;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #fafafa
}

/* buttons : works in comment form and in article form */
#pmm span.c { background-image: url("toggle.png"); }
#pmp span.c { background-image: url("toggle-expand.png"); }

#button01 span.c { background-image: url("format-bbcode/edit-bold.png"); }
#button02 span.c { background-image: url("format-bbcode/edit-italic.png"); }
#button03 span.c { background-image: url("format-bbcode/edit-underline.png"); }
#button04 span.c { background-image: url("format-bbcode/edit-strike.png"); }

#button05 span.c { background-image: url("format-bbcode/edit-alignment.png"); }
#button06 span.c { background-image: url("format-bbcode/edit-alignment-center.png"); }
#button07 span.c { background-image: url("format-bbcode/edit-alignment-right.png"); }
#button08 span.c { background-image: url("format-bbcode/edit-alignment-justify.png"); }

#button09 span.c { background-image: url("format-bbcode/edit-link.png"); }
#button10 span.c { background-image: url("format-bbcode/edit-quotation.png"); }
#button11 span.c { background-image: url("format-bbcode/edit-image.png"); }
#button12 span.c { background-image: url("format-bbcode/edit-code.png"); }

#button13 span.c { background-image: url("format-bbcode/edit-color.png"); }
#button14 span.c { background-image: url("format-bbcode/edit-small-caps.png"); }

.but-dropdown {
	position: relative;
}

.but-dropdown .list {
	display:none;
	padding: 3px;
	border: 1px solid #9999a3;
	border-radius: 4px;
	background-color: white;
	width: 110px;
	height: 130px;
	position: absolute;
	top: 24px;
	left: -1px;
	line-height: 20px;
	box-shadow: 0px 2px 7px silver;
}

.but-dropdown:hover .list {
	display: block;
}

/* list colors */
.but-dropdown .list-color button {
	display: inline-block;
	background: white;
	margin: 0 2px;
	width: 22px;
	height: 22px;
	padding: 3px;
	border: 1px solid transparent;
}

.but-dropdown .list-color button span {
	vertical-align: middle;
	border: 1px solid #ccc;
	margin: 0 auto;
	display: block;
	width: 12px;
	height: 12px;
}

.but-dropdown .list-color button:hover {
	background-color: #ddd;
}
.but-dropdown .list-color button:hover span {
	border-color: #888;
}

/* list sizes */
.but-dropdown .list-size {
	text-align: left;
	width: 140px;
	padding: 3px 0;
}

.but-dropdown .list-size button {
	color: black;
	padding: 2px;
	text-align: left;
	display: inline-block;
	background: white;
	margin: 0;
	width: 140px;
	height: 28px;
	margin-top: 3px;
	border: 1px solid transparent;
}

.but-dropdown .list-size button span {
	vertical-align: middle;
	margin: 0 auto;
}

.but-dropdown .list-size button:hover {
	background-color: #ddd;
}


/* boutons d’options et date */
#date-and-opts {
	width: 100%;
}

#date {
	margin-top: 10px
}

#opts {
	float: right;
}

#formdate,
#formheure,
#formstatut,
#formallowcomment {
	display: inline-block;
	padding-left: 20px;
	height: 20px;
}

#formdate {
	background: url("date.png") no-repeat left;
}

#formheure {
	margin-left: 15px;
	background: url("clock.png") no-repeat left;
}

#formstatut {
	background: url("book_open.png") no-repeat left;
}

#formallowcomment {
	margin-left: 15px;
	background: url("comments.png") no-repeat left;
}

#opts label {
	margin-right: 5px;
}

